/* #om-click-notice {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.9);
  border: 0;
}
#om-click-notice div {
  font-family: sans-serif;
  background: white;
  padding: 10px 20px;
  border-radius: 100px;
  border: 2px solid currentColor;
  font-size: large;
  font-weight: bold;
  margin-bottom: 20vh;
} */

article.oscilloscope-music-article {
  max-width: 720px;
  margin: auto;
  font-family: sans-serif;
}

.om-osc-details-container details summary {
  cursor: pointer;
  transition: background-color 300ms ease;
}
.om-osc-details-container details summary:hover {
  background-color: rgba(255, 217, 0, 0.5);
}

.om-osc-details-container > details[open] summary > :not(.om-click-to-close),
.om-osc-details-container > details:not([open]) summary > .om-click-to-close {
  display: none;
}

.om-osc-details-summary {
  font-weight: bold;
}

.om-osc-details-summary span[slot-parent]:not([hidden]):not(:first-of-type)::before {
  margin-left: -3px;
  margin-right: 3px;
  content: ",";
}

.om-osc-details {
  display: flex;
  /* flex-direction: column;
  justify-content: center; */
  gap: 4px;

  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
  align-items: flex-start;
  justify-content: flex-start;
}
.om-osc-details-val {
  padding: 2px 4px;
  /* border: 2px solid var(--color, currentColor);
  border-radius: 5px; */
  font-weight: bold;
  min-width: 7ch;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}
.om-osc-details-val input[type="range"] {
  min-width: 100px;
  max-width: 200px;
  width: auto;
  flex: 1;
}
.om-osc-details-val input[type="number"] {
  min-width: 3ch;
  max-width: 6ch;
  width: auto;
  flex: 1;
}
.om-osc-details-val select {
  border: none;
  background: none;
  padding: 2px 4px;
  margin: -2px -4px;
}

/* .om-flex-col {
  display: flex;
  flex-direction: column;
}
.om-flex-row {
  display: flex;
  flex-direction: row;
}
.om-just-center {
  justify-content: center;
} */

.om-osc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 4px;
  padding: 4px;
  border: 2px solid var(--color, currentColor);
  border-radius: 9px;
}
.om-osc canvas {
  width: 100%;
  max-width: 300px;
}
.om-osc .om-osc-desc {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color, currentColor);
  font-weight: bold;
}

.om-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.om-section--groups {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.om-section--desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.om-section--side-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.om-osc-group--oscillators {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.om-section--oscilloscope {
  flex-grow: 1;
  font-size: 0px; /* fix: hide extra whitespace */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas.om-oscilloscope {
  flex-grow: 1;
  max-width: 100%;
  height: auto;
  max-width: 300px;

  border: 2px solid currentColor;
  border-radius: 5px;
}

.oscilloscope-music-article {
  --color: black;
}

.oscilloscope-music-article [hidden] {
  display: none !important;
}

.om-play-button {
  transition: all 400ms ease;
}
.om-play-button:hover:not(:active) {
  transition: all 150ms ease;
  transform: scale(1.15);
}
.om-play-button:active {
  transition: all 150ms ease;
  transform: scale(0.9);
}

.oscilloscope-music-article template {
  display: none !important;
}

.om-two-cols {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}

.om-two-cols > :nth-child(1) {
  flex: 400px;
}

.om-two-cols > :nth-child(2) {
  flex: 200px;
}

.om-flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#om-tuning-fork {
  gap: 8px;
  padding: 8px;
}

#om-tuning-fork audio {
  max-width: 100%;
}

#om-tuning-fork img {
  max-height: 200px;
}

.om-img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 2px;
}

@media (min-width: 600px) {
  .om-img {
    transition: all 300ms ease;
    transform-origin: right center;
  }

  .om-img:hover {
    box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transform: scale(2.9);
    z-index: 9;
  }
}
@media (max-width: 600px) {
  .om-sticky-text {
    position: -webkit-sticky;
    position: sticky;
    top: 8px;
    background-color: hsl(270, 100%, 97%);
    border: 2px solid hsl(270, 100%, 85%);
    box-shadow: 0 2px 8px -1px hsl(270, 100%, 85%);
    border-radius: 3px;
    padding: 8px;
    margin: 4px;
  }
}

#om-section-3 .om-osc-group--oscillators {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#om-section-3 .om-osc {
  flex: 200px;
  max-width: 300px;
}

.om-pullout-quote {
  gap: 8px;

  border: 2px solid hsl(270, 100%, 85%);
  background-color: hsl(270, 100%, 95%);
  padding: 16px;
  border-radius: 5px;
  margin: 2em 0px;
}

.om-try-it-link {
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
  font: inherit;
  font-weight: 600;
  color: #006030;
  text-decoration: underline;
  cursor: pointer;
}
.om-try-it-link:hover {
  background-color: #006030;
  color: white;
  text-shadow: 0 0 1px black;
}

#om-xy-input {
  font-family: monospace;
  font-weight: 500;
  font-size: 16px;
}

#om-section-5 .om-osc canvas {
  height: 70px;
}

.om-source-link {
  font-size: 80%;
}

.oscilloscope-music-article h1 {
  font-size: 2.5em;
  margin: 1em 0 0 0;
}

.oscilloscope-music-article footer {
  background-color: hsl(270, 100%, 97%);
  border-radius: 5px;
  padding: 1em;
}

.oscilloscope-music-article footer h2 {
  margin-top: 0px;
}
